html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(#3a7bd5, #00d2ff);
  background-repeat: no-repeat;
  background-attachment: fixed
}

h1 {
  text-align: center;
}

h1 a {
  text-decoration: none;
}

a:visited { 
  text-decoration: none; 
  color:black; 
}

a:hover {
  color: lightgrey;
}

p {
  text-align: center;
}
